.class-body{
    margin-left: 2%;
    margin-right: 2%;
}

.ul0-results-imm-show-all
{
    display: block;
    background-color: rgb(202, 209, 226);
}

.ul1-results-imm-show-all
{
    background-color: rgb(131, 179, 131);
}

.slogan{
    color: red;
}

.nav-header{
    margin-top: 3%;
    margin-bottom: 0px;
}

.ul-nav-header{
    display: flex;
    justify-content: space-between;
    text-decoration-style: none;
    background-color: rgb(233, 148, 88);
    height: 40px;
    padding-top: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.li-nav-header{
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
}

.li-nav-header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
 }

.class-elements-midlle{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

.left-menu{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 15%;
    margin-right: 2%;
    margin-top: 15px;
    background-color:white;
    border-radius: 15px;
}

.left-menu a{
    text-decoration: none;
    color: blue;
}

.left-menu a:hover{
    color: red;
    text-decoration: underline;
}

.element-left-menu{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 20px;
}

#element-display-menu{
    padding: 0% 0% 0% 0%;
}

.class-elements-midlle{
    margin-bottom: 0px;
}

.div-sections{
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: stretch;
    width: 65%;
    margin-right: 3%;
    margin-top: 1%;
    min-height: 550px;
}

#discard-input{
    background-color: green; 
    color: white; 
    margin-top: 5px; 
    margin-left: 25%;
}

#delete-input{
    background-color: red;
    color: white; 
    margin-top: 5px; 
    margin-left: 5%
}

#active-input{
    background-color: green; 
    color: white; 
    margin-top: 5px; 
    margin-left: 5%
}

.class-aside{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.class-footer{
    margin-top: 0px;
    background-color: rgb(22, 20, 20);
    color: white;
}

.element-ul-footer{
    text-align: center;
    text-decoration-style: none;
    padding-top: 25px;
    height: 40px;
}

.element-li-footer{
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

.element-li-footer a{
    text-decoration: none;
    color: white;
}

/*per il component login*/

/*per il component register*/

/*per il view login*/
.login-view{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

/*per il view login*/
.register-view{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

/*comun form element*/
.generic-component{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    width: 90%;
}

.generic-input{
    margin-top: 15px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.generic-textarea{
    margin-top: 15px;
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

.generic-select{
    margin-top: 15px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.generic-submit{
    margin-top: 15px;
    width: 80%;
    height: 35px;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    
    .class-body{
        display: flex;
        flex-direction: column;
        margin-left: 0%;
        margin-right: 0%;
    }

    .ul-nav-header{
        display: flex;
        flex-direction: column;
        text-decoration-style: none;
        background-color: rgb(233, 148, 88);
        width: 100%;
        height: 120px;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .li-nav-header{
        display: flex;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav-header{
        align-content: center;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }

    .class-elements-midlle{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-left: 2%;
        width: 100%;
    }

    .class-aside{
        display: none;
        flex-direction: column;
        width: 0%;
    }

    .div-sections{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-right: 3%;
    }

    .left-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-right: 2%;
        margin-top: 15px;
        background-color: white;
        border-radius: 15px;
    }

    #discard-input{
        background-color: green; 
        color: white; 
        margin-top: 5px; 
        margin-left: 0px;
    }
    
    #delete-input{
        background-color: red;
        color: white; 
        margin-top: 5px; 
        margin-left: 0px;
    }
    
    #active-input{
        background-color: green; 
        color: white; 
        margin-top: 5px; 
        margin-left: 0px;
    }

    .element-ul-footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        text-decoration-style: none;
        padding-top: 25px;
        height: 80px;
    }
    
    .element-li-footer{
        display: flex;
        margin-left: 2%;
        margin-right: 2%;
    }

    .login-view{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
    }
    
    /*per il view login*/
    .register-view{
        display: flex;
        flex-direction: column;
        width: 75%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
    }
}